<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-nominal.txt">
    <targets>
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
                layout="${processtime}|${event-properties:item=EventId.Id}|Local|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString,StackTrace}${newline}" >
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
</nlog>
